!!! xml
<rss version="2.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:media="http://search.yahoo.com/mrss/">
channel
  title Instapaper Podcast
  description a podcast version of your instapaper articles assebled by lions text synthesis
  link https://github.com/naltatis/instapaper2podcast
  lastBuildDate= dateFormat(items[0].date(), "ddd, dd mmm yyyy hh:MM:ss o")
  itunes:image(href=path+"podcast.jpg")
  media:thumbnail(url=path+"podcast.jpg")
  language= "de-de"
  each entry in items
    item
      title= entry.title.trim()
      itunes:subtitle
        = entry.hostname()
        if entry.description
          |  | #{entry.description}
      itunes:explicit no
      link= entry.url
      guid(isPermaLink="false")= entry.filename()
      pubDate= dateFormat(entry.date(), "ddd, dd mmm yyyy hh:MM:ss o")
      enclosure(url=path + "audio/" + entry.filename() + ".m4a", length=entry.size, type='audio/x-m4a')
      itunes:image(href=path+"instapaper.jpg")
</rss>